### Resampling days to week and labeling each week with its number.

In [5]:
# import libraries
import pandas as pd
import datetime

In [6]:
# function to resample temperature from dialy to weekly
def resample_to_week(daily_temperature_by_city) :
    resampled_data_by_week = daily_temperature_by_city['Avg'].resample('W').mean()
    
    weekly_average_temperature_df = resampled_data_by_week.to_frame()
    weekly_average_temperature_df.reset_index(inplace = True)
    weekly_average_temperature_df.rename(columns={'Avg': 'average_temperature', 'Date' : 'last_day_of_the_week'}, inplace = True)
    
    for index, day in weekly_average_temperature_df.iterrows() :
        weekly_average_temperature_df.loc[index, 'week'] = day['last_day_of_the_week'].isocalendar()[1]
        weekly_average_temperature_df.loc[index, 'year'] = day['last_day_of_the_week'].isocalendar()[0]
    
    weekly_average_temperature_df['week'] = weekly_average_temperature_df['week'].astype(int)
    weekly_average_temperature_df['year'] = weekly_average_temperature_df['year'].astype(int)
    
    return weekly_average_temperature_df

In [7]:
# load city data set
houston_df = pd.read_csv("WEATHER_CSV/HOUSTON_TX.csv", parse_dates =["Date"], index_col ="Date") 
houston_df.head()

            Min  Max   Avg Precip
Date
2009-01-01   39   65  52.0      -
2009-01-02   64   77  70.5      -
2009-01-03   68   83  75.5      -
2009-01-04   47   77  62.0      -
2009-01-05   41   47  44.0   0.01

In [8]:
resample_data = resample_to_week(houston_df)
resample_data

    last_day_of_the_week  average_temperature  week  year
0             2009-01-04            65.000000     1  2009
1             2009-01-11            53.714286     2  2009
2             2009-01-18            50.142857     3  2009
3             2009-01-25            54.357143     4  2009
4             2009-02-01            53.428571     5  2009
..                   ...                  ...   ...   ...
594           2020-05-24            82.214286    21  2020
595           2020-05-31            78.071429    22  2020
596           2020-06-07            82.642857    23  2020
597           2020-06-14            82.357143    24  2020
598           2020-06-21            82.333333    25  2020

[599 rows x 4 columns]