### Resampling days to week and labeling each week with its number.

In [36]:
# import libraries
import pandas as pd
import datetime

In [37]:
# function to resample temperature from dialy to weekly
def resample_to_week(daily_temperature_by_city) :
    resampled_data_by_week = daily_temperature_by_city['Avg'].resample('W').mean()
    
    weekly_average_temperature_df = resampled_data_by_week.to_frame()
    weekly_average_temperature_df.reset_index(inplace = True)
    weekly_average_temperature_df.rename(columns={'Avg': 'average_temperature', 'Date' : 'last_day_of_the_week',}, inplace = True)
    
    for index, day in weekly_average_temperature_df.iterrows() :
        weekly_average_temperature_df.loc[index, 'week'] = day['last_day_of_the_week'].isocalendar()[1]
        weekly_average_temperature_df.loc[index, 'year'] = day['last_day_of_the_week'].isocalendar()[0]
    
    weekly_average_temperature_df['week'] = weekly_average_temperature_df['week'].astype(int)
    weekly_average_temperature_df['year'] = weekly_average_temperature_df['year'].astype(int)
    
    return weekly_average_temperature_df

In [79]:
# load city data set
CSV_DF = []
CSV_DF = pd.read_csv("WEATHER_CSV/MASTER.csv")
CSV_LIST = []
CSV_LIST = CSV_DF['Name']
main_df =[]
resample_data =[]
#for loop that compiles weather CSVs based on master csv list
for city in CSV_LIST:
 city_df = pd.read_csv(f"WEATHER_CSV/{city}.csv", parse_dates =["Date"], index_col ="Date") 
 resample_data = resample_to_week(city_df)
 resample_data["State"]= city_df.iloc[0]['state']
 resample_data["City"]= city_df.iloc[0]['city_name']
 print(len(main_df))
 print(city)
 if len(main_df)<1:
    main_df=resample_data
 else:
    print('hello')
    main_df = main_df.append(resample_data)

main_df.to_csv('Complied_Weather.csv', encoding='utf-8', index=False)
main_df

0
ATLANTA_GA
599
CHICAGO_IL
hello
1198
DENVER_CO
hello
1797
DFW_TX
hello
2396
HOUSTON_TX
hello
2995
JFK_NY
hello
3594
LA_CA
hello
4193
PHILADELPHIA_PA
hello
4792
PHOENIX_AZ
hello
5391
SEATTLE_WA
hello
5990
SF_CA
hello

    last_day_of_the_week  average_temperature  week  year State           City
0             2009-01-04            48.250000     1  2009    GA        Atlanta
1             2009-01-11            52.642857     2  2009    GA        Atlanta
2             2009-01-18            35.642857     3  2009    GA        Atlanta
3             2009-01-25            39.785714     4  2009    GA        Atlanta
4             2009-02-01            45.428571     5  2009    GA        Atlanta
..                   ...                  ...   ...   ...   ...            ...
594           2020-05-24            61.285714    21  2020    CA  San Francisco
595           2020-05-31            65.642857    22  2020    CA  San Francisco
596           2020-06-07            64.928571    23  2020    CA  San Francisco
597           2020-06-14            64.285714    24  2020    CA  San Francisco
598           2020-06-21            63.666667    25  2020    CA  San Francisco

[6589 rows x 6 columns]

In [47]:

my path
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles

SyntaxError: invalid syntax (<ipython-input-47-61cfebacc0b0>, line 1)