### Resampling days to week and labeling each week with its number.

In [ ]:
# import libraries
import pandas as pd
import datetime

In [15]:
# load city data set

houston_df = pd.read_csv("HOUSTON_TX.csv", parse_dates =["Date"], index_col ="Date") 
houston_df.head()

            Min  Max   Avg Precip
Date
2009-01-01   39   65  52.0      -
2009-01-02   64   77  70.5      -
2009-01-03   68   83  75.5      -
2009-01-04   47   77  62.0      -
2009-01-05   41   47  44.0   0.01

In [16]:
# Resample by week
weekly_resampled_data = houston_df.Avg.resample('W').mean()
temp_by_week_df = weekly_resampled_data.to_frame()
temp_by_week_df.reset_index(inplace = True)
temp_by_week_df.rename(columns={'Avg': 'average_temperature', 'Date' : 'last_day_of_the_week'}, inplace = True)
temp_by_week_df.head()

  last_day_of_the_week  average_temperature
0           2009-01-04            65.000000
1           2009-01-11            53.714286
2           2009-01-18            50.142857
3           2009-01-25            54.357143
4           2009-02-01            53.428571